


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a  routerLink="./adminPage" href="#">Administration</a></li>
        <li><a  routerLink="./staffPage" href="#">Staff</a></li>
        <li><a routerLink="./studentPage" href="#">Student</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
