<div class="jumbotron" >

    <h2>Staff Time Table</h2>

</div>    

<!-- <div class="bg-info text-white">
    <div class="container" >
        <h1>{{title}}</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="search-list">
          <label>Filter</label>
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Search by subject">
            </div>
    <table class="table table-striped" border="2">

    <th>Id</th>  
    <th>facultyName</th>
    <th>Course Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    
    
    
    <tr *ngFor="let table of timetable | filter:searchText">
     <td>{{table.id}}</td> 
    <td>{{table.facultyName}}</td>
    <td>{{table.courseName}}</td>
    <td>{{table.startDate}}</td>
    <td>{{table.endDate}}</td>
    
    
    
    </tr>
    
    </table>
    
<button class="btn btn-danger" (click)="stafftablelogout()">Logout</button>    
    </div> -->

    <div class="wrapper">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          
        <table mat-table [dataSource]="staffs" matSort class="mat-elevation-z8">
      
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <ng-container matColumnDef="facultyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Facylty Name </th>
            <td mat-cell *matCellDef="let element"> {{element.facultyName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="courseName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Name </th>
            <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> start Date </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
          </ng-container>
      
          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> end Date  </th>
            <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
          </ng-container>

    
        
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <!-- Angular 8 pagination -->
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
          
          <button class="btn btn-danger" (click)="stafftablelogout()">Logout</button>    
        </div>
      
