<h3 align="center">Student Login</h3>
<form id="form_login" (ngSubmit)="onSubmit(loginform)" #loginform="ngForm" style="padding-left: 550px">
  <div class="form-group row">
    <div class="col-xs-4">
      <label for="userName">&nbsp; &nbsp; User Name:</label>
      <input type="text" class="form-control"  id="userName" name="userName" #userName="ngModel" [(ngModel)]="log.userName" required >
      <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">username is invalid</div>
   </div>
  </div>
    <div class="form-group row">
        <div class="col-xs-4">
      <label for="pwd">&nbsp; &nbsp; Password:</label>
      <input type="password" class="form-control" id="password" name="password" #password="ngModel" [(ngModel)]="log.password" required >
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</div> 
    </div>
  </div>
    <button type="submit" [disabled]="!loginform.form.valid" class="btn btn-primary"  >Login</button>
    
  </form>

  <div id="reg" align ="center">
     
  </div>
  